.myPackage-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.123);
}

@media only screen and (max-width:688px) {
    .myPackage-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:689px) and (max-width:991px) {
    .myPackage-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
} 
.myPackage-container h6{
    text-align: start;
    margin-left: 110px;
}