.branch-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: rgb(208, 236, 236); */
}
.branches-container{
      background-color:rgb(208, 236, 236) ;
}

@media only screen and (max-width:688px) {
    .branch-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:689px) and (max-width:991px) {
    .branch-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}